@font-face {
  font-family: "Renner";
  src: url("fuente/Renner_\ 300\ Light.ttf") format("truetype");
}

@font-face {
  font-family: "Scaryous";
  src: url("fuente/Scaryous.ttf");
}

:root {
  --medio: Renner;
  --Scar: Scaryous;
  --azul: #0073ba;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--medio);
}

/* Cabecera */

.hero {
  background-image: url(img/Bruja.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

@media(max-width:1560px){
  .hero{
    height: 70vh;
  }
}

.container {
  display: flex;
  gap: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
}

@media(max-width:1560px){
  .container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-30%, -50%);
  }
}

@media(max-width:1200px){
  .container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-30%, -50%);
    flex-wrap: wrap;
  }
}

.hechizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hechizar p {
  font-size: 25px;
}

.hechizo {
  width: 400px;
}

.visit {
  width: 180px;
  margin-top: 20px;
}

.optubre {
  margin-bottom: 10px;
}

.experiencia {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  width: 280px;
  margin-top: 30px;
}

@media(max-width:1200px){
  .experiencia{
    margin-top: -30px;
    margin-left: 5%;
  }
}

.experiencia p {
  margin-bottom: 20px;
  padding: 40px 30px;
  border: 1px solid #fff;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(14.8462px);
}

.experiencia a {
  position: absolute;
  color: #fff;
  padding: 10px 30px;
  font-size: 14px;
  background: linear-gradient(90deg, #93b95c 0.01%, #1b917a 71.35%);
  border-radius: 10px;
  margin-top: -40px;
  margin-left: -85px;
  text-align: center;
}

.experiencia i {
  font-size: 20px;
}

/* Azul */

.azul {
  background-color: var(--azul);
  background-image: url(img/olas.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.brisa {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brisa > .mur1 {
  margin-top: 120px;
  width: 110px;
  height: 110px;
}

.brisa > .mur2 {
  margin-top: 150px;
  width: 150px;
  height: 150px;
}

@media(max-width:1200px){
  .brisa > .mur2{
    display: none;
  }
}

.hallo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  padding: 50px;
  margin-top: 50px;
  margin-right: -50px;
}

.hallo img {
  width: 500px;
  margin-top: 20px;
}

.hallo span {
  font-size: 35px;
  font-family: var(--Scar);
}

.piratas {
  width: 70%;
  display: flex;
  color: #fff;
  font-size: 25px;
  justify-content: space-around;
  margin-bottom: 50px;
}

@media(max-width:1000px){
  .piratas{
    flex-direction: column;
  }
}

.contenedor {
  width: 100%;
}

.texto {
  font-size: 22px;
  width: 1000px;
  padding: 10px 10px 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media(max-width:1000px){
  .texto{
    margin-top: 20px;
    width: 700px;
  }
}

.texto ul {
  padding: 20px;
}

.texto a {
  color: #fff;
  padding: 10px 30px;
  font-size: 14px;
  background: linear-gradient(90deg, #93b95c 0.01%, #1b917a 71.35%);
  border-radius: 10px;
  width: 185px;
}

.texto i {
  font-size: 20px;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
}

@media(max-width:1560px){
  .gallery-wrap {
    display: flex;
    height: 45vh;
  }
  
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

.item-1 {
  background-image: url("img/gale1.jpg");
  border-radius: 10px;
  margin-right: 5px;
}

.item-1:hover {
  flex: 6;
}

.item-2 {
  background-image: url("img/gale2.jpg");
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.item-2:hover {
  flex: 6;
}

.item-3 {
  background-image: url("img/gale3.jpg");
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.item-3:hover {
  flex: 6;
}

.item-4 {
  background-image: url("img/gale4.jpg");
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.item-4:hover {
  flex: 6;
}

/* Blanca */

.blanca {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(img/brisa.png);
  background-size: 115%;
  background-position: center;
  background-repeat: no-repeat;
}

.blanca h3 {
  margin-top: 100px;
  font-size: 30px;
}

.tarjetas {
  margin: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
}

.card h1 {
  color: #322d63;
  font-weight: 800;
  margin-top: 25px;
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}

.card .title {
  color: #322d63;
  font-size: 18px;
  line-height: 25px;
  margin: 20px 0px;
}

center a {
  color: #fff;
  padding: 15px 30px;
  font-size: 14px;
  background: linear-gradient(90deg, #015280 0.01%, #322d63 71.35%);
  border-radius: 10px;
  width: 185px;
}

.card i {
  font-size: 20px;
}

a:hover {
  transform: scale(1.1);
  transition: 0.8s ease;
}

/* Blanco2 */

.blanco2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
  flex-wrap: wrap;
}

.hmur {
  width: 110px;
  height: 110px;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.centro .video{
  margin: 50px 0px;
}

.sombrero {
  width: 110px;
  height: 110px;
  margin-top: 100px;
}

@media(max-width:1000px){
  .sombrero{
    display: none;
  }
}

.blanco-v {
  width: 600px;
}

.blanco-v h2 {
  font-size: 30px;
  padding: 20px 50px;
}

.blanco-v p {
  font-size: 25px;
  line-height: 30px;
  padding: 0px 50px;
}

.final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.final h3 {
  margin: 100px 0px;
  font-size: 30px;
}

.final .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  gap: 50px;
  flex-wrap: wrap;
}

.final .logos img {
  width: 250px;
}

.final .comentarios a:last-child {
  display: none !important;
}

.final .WidgetTitle__Header-sc-ruy1gu-2.iFEZzR{
  display: none;
}

footer{
  background-color: var(--azul);
  background-image: url(img/mar-mur.png);
  background-size:80%;
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
  flex-wrap: wrap;
}

@media(max-width:1200px){
  .footer{
    flex-direction: column;
    gap: 50px;
  }
}

.footer div{
  width: 400px;
}

.footer .contactanos{
  padding: 10px;
}

.footer div a{
  color: #fff;
  padding: 15px 30px;
  font-size: 20px;
  background: linear-gradient(90deg, #93b95c 0.01%, #1b917a 71.35%);
  border-radius: 10px;
  width: 185px;

}

.footer form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer form input{
  padding: 10px;
  background-color: #C5D7E1;
  width: 350px;
  border: none;
  border-radius: 10px;
}

.footer form input::placeholder{
  color: #82AABF;
  font-size: 16px;
}

.footer form button{
  width: 100px;
  padding: 10px;
  color: #fff;
  background-color: #00B0DF;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 800;
}

@media(max-width:600px){
  

}
